<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome da música</th>
            <th scope="text-right"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="musica in musicas | filter:filterText" ng-style="{'background-color': musica.adicionada ? 'yellow' : ''}">
            <td>{{musica.nome}}</td>
            <td class=" text-right">
                <a href="" ng-click="acao(musica, playlist)">Adicionar/Remover</a>
            </td>
        </tr>
    </tbody>
</table>