<div class="container">
    <div class="form-home row">
        <form class="col-4">
            <h3>Cadastrar músicas</h3>
            <input type="text" class="form-control" placeholder="Nome da música"/>
            <select class="custom-select form-control">
                <option selected>Selecione o artista</option>
                <option value="1">Ed Sheeran</option>
                <option value="2">Safadão</option>
                <option value="3">Pablo do Arrocha</option>
                <option value="4">Zenan da pisadinha</option>
            </select>
            <input type="text" class="form-control" placeholder="Nome do álbum"/>
            <input type="text" class="form-control" placeholder="Ano de lançamento"/>
            <input type="text" class="form-control" placeholder="Duração"/>
            <button type="submit" class="btn btn-primary btn-block">Cadastrar música</button>
        </form>
        <div class="artistas-table col-8">
            <h3>Artistas cadastrados</h3>
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar artista" aria-label="Search">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nome do artista</th>
                        <th scope="text-right"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="artista in musicaCtrl.artistas">
                        <td>{{artista.nome}}</td>
                        <td class=" text-right">
                            <button class="btn btn-primary btn-sm">Add. favoritos</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>