<div class="container home">
    <div class="form-home row">
        <div class="col-6">
            <h3>Cadastrar playlist</h3>
            <hr class="my-4">
            <form ng-submit="playlistCtrl.salvarPlaylist(playlistCtrl.playlist)">
                <div class="form-row">
                    <div class="col-8">
                        <input
                            class="form-control"
                            placeholder="Nome da playlist"
                            type="text" ng-required="true"
                            ng-model="playlistCtrl.playlist.nome">
                        </input>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-primary btn-block" type="submit">Cadastrar playlist</button>
                    </div>
                </div>
            </form>
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar música para adionar à playlist" aria-label="Search">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nome da música</th>
                        <th scope="text-right"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="musica in playlistCtrl.musicas" ng-style="{'background-color': musica.adicionada ? 'yellow' : ''}">
                        <td>{{musica.nome}}</td>
                        <td class=" text-right">
                            <a href="" ng-click="playlistCtrl.adicionarOuRemoverMusicaPlaylist(musica, playlistCtrl.playlist)">Adicionar à playlist</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="artistas-table col-6">
            <h3>Playlists criadas</h3>
            <hr class="my-4">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar playlists" aria-label="Search">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nome da playlist</th>
                        <th scope="text-right"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="musica in playlistCtrl.playlists">
                        <td>{{musica.nome}}</td>
                        <td class=" text-right">
                            <a href="">Ver detalhes</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>