.content h2 {
    text-align: center;
    margin-bottom: 35px;
}

.container {
    margin-top: 50px;
}

.artistas-table {
    padding-left: 80px;
}

.content .form-control {
    margin-bottom: 10px;
}